{% extends 'SCMDIDMSBundle::layout.html.twig' %}
{% block content_header_more %}
   <a href="{{ path('_welcome') }}">My Info</a> | <a href="{{ path('_welcome') }}">Logout</a> 
{% endblock %}

{% block content %}
<form action="">
 <h1>Dashboard</h1>
 
</form>
{% endblock %}